<h1>Your Playlist Details</h1>


<h3>Name: <%= @playlist.name %> </h3>


<h3>List of your songs:</h3>

<ul>
  <% @playsongs.each do |playsong| %>
    <li>
      <%= link_to "Title: #{playsong.song.name}", song_path(playsong.song) %> <br>
      <%= "Album: #{playsong.song.album}" %> <br>
      <%= "Genre: #{playsong.song.genre}" %>
    </li>
  <% end %>
</ul>


<%= button_to 'Remove', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= button_to 'Edit', edit_playlist_path(@playlist), method: 'get'%>


